<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap rescap uap3">

  <Identity
    Name="d0c925b6-90d6-4ee7-a5c8-d9b08b62723e"
    Publisher="CN=&quot;Thio Software, LLC&quot;, O=&quot;Thio Software, LLC&quot;, L=Sheridan, S=Wyoming, C=US"
    Version="1.1.0.0" />

  <mp:PhoneIdentity PhoneProductId="d0c925b6-90d6-4ee7-a5c8-d9b08b62723e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Dynamic Lighting Key Indicator</DisplayName>
    <PublisherDisplayName>ThioJoe</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22621.0" MaxVersionTested="10.0.26100.0" />
	</Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Dynamic Lighting Key Indicator"
        Description="Dynamic Lighting Key Indicator"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
	      <!-- This extension allows the app to control LampArray device lighting in the background on build 23466 and above. -->
	      <uap3:Extension Category="windows.appExtension">
	        <uap3:AppExtension Name="com.microsoft.windows.lighting" Id="Id" PublicFolder="public" DisplayName="Id" />
	      </uap3:Extension>
		  <!-- This extension allows registering a custom URL protocol -->
	      <uap:Extension Category="windows.protocol">
	       <uap:Protocol Name="key-lighting-indicator">
	        <uap:DisplayName>Dynamic Lighting Key Indicator</uap:DisplayName>
	       </uap:Protocol>
	      </uap:Extension>
		  <!-- This extension allows registering for the app starting up with windows. (With 'enabled' set to false, does not automatically make it do so, still need to do that via StartupTask.RequestEnableAsync in code) -->
		  <!-- See: https://learn.microsoft.com/en-us/uwp/api/windows.applicationmodel.startuptask?view=winrt-26100 -->
		  <uap5:Extension
            Category="windows.startupTask"
            Executable="Dynamic Lighting Key Indicator.exe"
            EntryPoint="Windows.FullTrustApplication">
            <uap5:StartupTask
              TaskId="Dynamic-Lighting-Key-Indicator-StartupTask"
              Enabled="false"
              DisplayName="Dynamic Lighting Key Indicator" />
          </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
